/*
Primary-color: #F20F62
Secondary-color: #54BFBF
dark-text: black
light-text: white

Fonts
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


*/


/* variables */
  :root {
   --Primary-color:#FFC0CB;
   --Secondary-color: #54BFBF;
 --warning: #F20F62; 
    --dark-text: black;
   --light-text: white;
    --my-serif:"Platypi", serif;
  --my-sans-serif:"Poppins", sans-serif;
    }
                            
   /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */
                            
  html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
  dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* My styles */

body{
font-family: var(--my-sans-serif);
padding: 10px;
line-height: 3;
background: black;
color: var(--light-text);
}
                            
.container{
width: 80%;
margin: 10px auto;
padding: 15px;
border: 2px solid var(--Secondary-color);
}
                            
img{
width: 40%;
margin: 15px auto;
}
                            
nav{
text-align: center;
}

nav a{
padding: 5px 10px;
color: var(--light-text);
background:var(--warning);
text-decoration: none;
}
                            
h1, h2, h3, h4{
   font-family: var(--my-serif);
   font-size: xx-large;
  font-weight: bold;
  color: var(--Secondary-color);
 }
                            
 h1, h2, footer{
   text-align: center;
 }
                            
aside {
   width: 30%;
   padding: 15px;
   float: right;
   border: 2px solid var(--Primary-color);
 }
                            
 main{
  width: 35%;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid var(--Primary-color);
 float: left;
   min-height: 300px;
 }
                            
footer{
clear: both; }

/* 🦆🦆🦆           Grid Layout       🦆🦆🪿  */


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    background-color: black;
    padding: 10px;
}

.grid-container > div > img{
    width: 90%;
}

.grid-container>div {
    background-color:var(--Primary-color);
    text-align: center;
    padding: 20px 0;
    cursor: pointer;


}

#large{
    width: 50%;
    display: block;
    margin: 25px auto;
    padding: 20px;
    background: var(--Primary-color);
}
                            