body{
    background-color: ivory;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(95, 40, 95);
}

nav{
    width: 80%;
    margin: 10px auto;
    text-align: center;
    line-height: 3;
    
}

nav a{
    text-decoration: none;
        margin-left:5px;
        background: rgb(95, 40, 95);
        padding: 5px 10px;
        color: ivory;
        border: 2px solid rgb(95, 40, 95);
        border-radius: 20px;
    }

    nav a:hover{
color: rgb(95, 40, 95);
background-color: ivory;
    }

#baking{
    background-image:url("../images/baking-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#gaming{
    background-image:url("../images/gaming-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}

#gaming img{
    width:30%;
    padding: 10px 10px 10px 20px;
    
}

#baking img {
    width: 30%;
    padding: 30px;
}

div{
    min-height: 250px;
    overflow: auto;
}

.container{
    width: 80%;
    margin: 10px auto;
    border: 2px solid ;
    padding: 20px;
    background:rgba(233, 160, 206, 0.7);
}

.creme-brulee img{
    float:left;
}

.cake img{
    float: right;
    width: 20%;
}

header{
    background: rgba(233, 160, 206, 0);
    text-align: center;
}

footer{
    text-align: center;
}

h1,h2{
    text-align: center;
}

a {
    color: darkcyan;
}

a:hover{
    color: darkviolet;
}